Assets/Affdex/Plugins/iOS/
Library/
ProjectSettings/
Logs/
Packages/
Clusters/
Clustering/Clusters/*
Clustering/CSV/*
Clustering/Images/*
Clustering/Logs/*
Clustering/OpenFace/*
Clustering/OpenFace_Output/*
Clustering/Profiles/*
Build/
